body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 30px auto;
}


input {
    padding: 8px;
    margin: 5px;
}


button {
    padding: 8px 15px;
    cursor: pointer;
}


table {
    width:100%;
    border-collapse: collapse;
}


td, th {
    border:1px solid #ccc;
    padding:10px;
}


button.delete {
    background:red;
    color:white;
}
